%h1 HomeBase Users

%p= link_to 'New User', new_user_path

%table
  %tr
    %th Unit
    %th Name
    %th Number
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= "#{user.unit_id || "???"}" 
      %td= link_to "#{user.first_name} #{user.last_name}", user
      %td= user.mobile_number[-4..-1] if user.mobile_number
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'X', user, method: :delete, data: { confirm: 'Are you sure?' }

%br

