%h1 HomeBase Buildings

%p= link_to 'New Building', new_building_path


%table
  %tr
    %th Name
    %th Street
    %th City
    %th State
    %th Zip
    %th Lat
    %th Lng
    %th
    %th

  - @buildings.each do |building|
    %tr
      %td= building.name
      %td= building.street
      %td= building.city
      %td= building.state
      %td= building.zip
      %td= building.lat
      %td= building.lng
      %td= link_to 'Edit', edit_building_path(building)
      %td= link_to 'X', building, method: :delete, data: { confirm: 'Are you sure?' }